{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>All Posts</title>
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
</head>
<body>
    <h1>Blog Posts</h1>
    {% if user.is_authenticated %}
    <form method="get" action="{% url 'search_posts' %}">
    <input type="text" name="q" placeholder="Search posts...">
    <button type="submit">Search</button>
    </form>
        <a href="{% url 'post-create' %}">+ New Post</a>
    {% endif %}
    <ul>
        {% for post in posts %}
            <li>
                <a href="{% url 'post-detail' post.pk %}">{{ post.title }}</a>
                <p>{{ post.content|slice:":100" }}...</p>
            </li>
        {% empty %}
            <p>No posts yet.</p>
        {% endfor %}
    </ul>
</body>
</html>